.main {
  &-wrapper {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &-form {
    display: flex;
    gap: 30px;
  }

  &-errortext {
    color: red;
    height: 11px;
  }

  &-movielist {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-list-item {
    display: flex;
    gap: 10px;
  }
  &-list-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}
