* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  /* Використано загально  шрифт Montserrat*/
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  font-size: 16px;
  color: #2f281e;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
a:hower{
  color: #fff;
}

img {
  width: 100%;
}

/* Властивості wrapper */
.wrapper {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}
/* Використовується flex */
.header-wrapper {
  padding-top: 17px;
  padding-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Використовується flex */
.header-logo-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.logo {
  max-width: 30px;
  max-height: auto;
}

.logo-text {
  max-height: 30px;
  max-width: 154px;
}

.header-nav {
}

/* Використовується flex */
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.list-item:first-child {
  color: #ffa520;
}

/* Використовується flex */
.header-buttons-block {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 32px;
}
.header-button {
  text-align: center;
  padding: 13px 0;
  min-height: 46px;
  min-width: 110px;
  font-weight: 500;
  border-radius: 4px;
}
.sign-in {
  border: 1px solid #bcd0e5;
}

.sign-up {
  background-color: #ffa520;
  color: #fff;
}

.main {
  margin-top: 71px;
}

/* Використовується flex */
.first-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: space-between;
}

/* Використовується flex */
.section-text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 357px;
  padding: 97px 0;
  font-size: 18px;
}

.section-heading {
  font-size: 44px;
}
.section-text {
  margin-top: 30px;
}

.section-button {
  margin-top: 20px;
  padding: 13px;
  max-width: 180px;
  max-height: 50px;
  border-radius: 4px;
  background-color: #ff9900;
  text-align: center;

  color: #fff;
  font-weight: 700;
}

.section-picture {
  min-width: 644px;
}

.footer {
}
