
body {
  /* Використано загально  шрифт Montserrat*/
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  font-size: 16px;
  color: #2f281e;
  min-height: 100vh;
}
/* Властивості wrapper */
.wrapper {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}
