:root{
  // Colors
  --color-white:#fff;
  --color-orange:#FFA520; 
  --color-black:#2f281e;
  --color-brown:#544837;
  --color-border-blue:#bcd0e5;
  // Fonts
  --font-base:'Mosserat','Popins', sans-serif;
  --font-popins:'Popins', sans-serif;
  --fs-basis: 16px;
  // Transition
  --t-normal:color 0.5 ease-in-out;
  // Sizes
  --header-height:80px;
}