
.line {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color:  #f1f1f1;
  z-index: 2;
  
  &-vertical {
    rotate: 90deg;
  }
  &-left {
    rotate: 45deg;
  }
  &-right {
    rotate: 135deg;
  }
  

}
