
.line {
  position: absolute;
  width: calc(100% - 50px);
  height: 3px;
  background-color: var(--color-white);
  z-index: 2;
  
  &-vertical {
    rotate: 90deg;
  }
  &-left {
    rotate: 45deg;
  }
  &-right {
    rotate: 135deg;
  }
  

}
