*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  font-family: "Roboto",sans-serif;
  font-size: 11px;
  font-weight: 400;
  
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  font-weight: inherit;
}
ul{
  list-style-type: none;
}
a,a:hover{
  text-decoration: none;
  color: inherit;
}
.app {
  background-color:#3B3F45;
}
.app-header,.header-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-header  {
  background-color:#4A4F56;
  color: #FF8984;

}
.app-header{
  
}

.header-text {
 
}
.header-text>h1{
  font-weight: 700;
  font-size: 24px;
  margin-top: 13px;
}
.header-text>p{
  font-size: 16px;
  margin-top: 4px ;
  margin-bottom: 12px;
}
.app-main{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.shopping-list {
  

}
.list-block {
}
.list-item {
}