* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  /* Використано загально  шрифт Roboto*/
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  min-height: 100vh;
  background-color: #3b3f45;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}
ul {
  list-style-type: none;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
/*Використовую flex  */
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.app-header,
.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-header {
  flex-grow: 1;
  background-color: #4a4f56;
  color: #ff8984;
}

.header-text {
  min-width: 276px;
  margin: 0 auto;
}
.header-text > h1 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 13px;
}
.header-text > p {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 12px;
}
.app-main {
  flex-grow: 2;
  background-color: #3b3f45;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}

.shopping-list {
  margin-top: 20px;
  min-width: 534px;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* колір фону для парних та непарних за рахунком дітей */
.list-item:nth-child(even) {
  background-color: #88839e;
}
.list-item:nth-child(odd) {
  background-color: #7a7593;
}
.list-item {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  padding: 12px;
  transition: background-color 0.15s ease-in;
  color: #ffff;
}
.list-item:hover {
  background-color: #625e77;
  border-color: #ffff;
}
.list-item:active {
  background-color: #ff8984;
}
.list-label{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  
}
.list-label > input[type="checkbox"] {
  width: 19px;
  height: 19px;
}
.list-label > input[type="checkbox"]:checked + span {
  opacity: 0.5;
  text-decoration: line-through;
}

.list-label > span {
  margin-left: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.item-heading {
  font-size: 18px;
  margin-right: 4px;
}

.list-button {
  margin-top: 45px;
  min-height: 45px;
  background-color: #4a4f56;
  border: none;
  color: #ff8984;
  font-size: 18px;
  
}

