.circle {
  position: absolute;
  z-index: 3;
  max-width: 100px;
  width: 100%;
  max-height: 100px;
  border: 12px solid var(--color-white);
  border-radius: 50%;
  height: 100%;
  background-color:var(--color-violet);
  transition: transform 0.8s ease-in-out;

  &-top {
    top: 0;
  }

  &-top:hover {
    transform: translate(0, 100%);
  }

  &-top-left {
    left: 60px;
    top: 60px;
  }

  &-top-left:hover {
    transform: translate(100%, 100%);
  }

  &-top-right {
    top: 60px;
    right: 60px;
  }

  &-top-right:hover {
    transform: translate(-100%, 100%);
  }

  &-left {
    left: 0;
  }

  &-left:hover {
    transform: translate(100%, 0);
  }

  &-right {
    right: 0;
  }

  &-right:hover {
    transform: translate(-100%, 0);
  }

  &-bottom {
    bottom: 0;
  }

  &-bottom:hover {
    transform: translate(-0, -100%);
  }

  &-bottom-left {
    bottom: 60px;
    left: 60px;
  }

  &-bottom-left:hover {
    transform: translate(100%, -100%);
  }

  &-bottom-right {
    bottom: 60px;
    right: 60px;
  }

  &-bottom-right:hover {
    transform: translate(-100%, -100%);
  }

  &-big {
    border-color: var(--color-violet);
    background-color: var(--color-white);
    max-width: 300px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
  &-inside-big {
    max-width: 200px;
    max-height: 200px;
    background-color: var(--color-dark-violet);
    border-color: var(--color-violet);
  }

  &-inside-big:active{
    transform: scale(1.6);
  }
}
