.header{
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  min-height: var(--header-height);
  display: flex;
  align-items: center;
  &-wrapper {
    padding-top: 17px;
    padding-bottom: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-buttons-block {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
  }


}



