mixin footer 
  footer.footer
    .wrapper.footer-wrapper 
      +logo('footer-logo','Freehand')
      ul.social-list 
        +list-item('icon-instagram')
        +list-item('icon-facebook')
        +list-item('icon-github')
        +list-item('icon-dribbble')
        +list-item('icon-twitter')


    
