mixin main 
  main.main
    .wrapper.main-wrapper
      .main-text
        p.main-text-services OUR SERVICES
        h1.main-text-heading We build experience
      section.main-section
        +section-item('icon-megaphone','Design')
        +section-item('icon-building','Ecommerce')
        +section-item('icon-phone','Application')  