include ./elements/index
include ./components/index

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewpornt", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./index.css")
    title Document
  body
    svg(aria-hidden='true', style='position: absolute; width: 0; height: 0; overflow: hidden;', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
      defs
        symbol#icon-trash.icon(viewbox='0 0 32 32')
          path(d='M5.333 28.445c0 1.955 1.6 3.555 3.556 3.555h14.222c1.955 0 3.555-1.6 3.555-3.555v-21.333h-21.333v21.333zM28.445 1.778h-6.222l-1.778-1.778h-8.889l-1.778 1.778h-6.222v3.556h24.889v-3.556z')
        symbol#icon-camera.icon(viewbox='0 0 32 32')
          path(d='M8.272 4.8l2.928-3.2h9.6l2.928 3.2h5.072c1.76 0 3.2 1.44 3.2 3.2v19.2c0 1.76-1.44 3.2-3.2 3.2h-25.6c-1.76 0-3.2-1.44-3.2-3.2v-19.2c0-1.76 1.44-3.2 3.2-3.2h5.072zM8 17.6c0 4.416 3.584 8 8 8s8-3.584 8-8c0-4.416-3.584-8-8-8s-8 3.584-8 8zM16 22.72c2.828 0 5.12-2.292 5.12-5.12s-2.292-5.12-5.12-5.12c-2.828 0-5.12 2.292-5.12 5.12s2.292 5.12 5.12 5.12z')

    .app
      +header
      +main 