.banner {
  position: relative;
  display: flex;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.text {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  justify-content: space-around;
}
.heading {
  width: 70%;
  letter-spacing: 0.8px;
  font-weight: 600;
  font-size: 48px;
}
