* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // border: 1px solid red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-white);
}
a:hover {
  color: var(--color-white);
}

img {
  width: 100%;
}
