mixin header
  header.header 
    .wrapper.header-wrapper
      +logo 
      +navigation
      .header-buttons-block
        +buttons('button','button-transparent','Sign in')
        +buttons('button','', 'Sign out')
        
      