mixin main
  main.main 
    .wrapper.main-wrapper
      .section-text-block 
        h1 The Design Thinking superpowers
        p.main-section-text Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.
        //- 
        +buttons('button','button-big main-section-button','Get started')
      .main-section-picture 
        img(src="./assets/img/Image.svg", alt="Peoples")
  