mixin navigation
  nav.header-nav 
    ul.nav-list
      //- Adding list-items with custom text
      +list-items('Product')
      +list-items('Customers')
      +list-items('Pricing')
      +list-items('Resourses')