* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* Файл шрифту знайдено і підключено вручну */
@font-face {
  font-family: "Lucida Sans Unicode", sans-serif;
  src: url(../font/lucidasansunicode.ttf);
}


body {
  font-family: "Lucida Sans Unicode", sans-serif;
  height: 100vh;
  color: var(--color-white);
  font-size: var(--fs);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

