.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: var(--t-normal);

  &-item:hover {
    color: var(--color-orange);
  }
  &-link{
    display: flex;
    padding:10px;
  }
}
